@model Ad
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Mazaare3</title>

    <link rel="stylesheet" href="~/css/maicons.css">

    <link rel="stylesheet" href="~/css/bootstrap.css">

    <link rel="stylesheet" href="~/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/css/theme.css">

</head>

<body>

    <!-- Back to top button -->
    <div class="back-to-top"></div>

    <header>
        <nav id="topHead" class="navbar navbar-expand-lg navbar-light sticky" data-offset="500">
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/img/Mazaare3_Logo.png" width="170px" alt="Mazaare3_Logo"></a>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li id="homeNav" class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li id="aboutNav" class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        <li id="servicesNav" class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Services">Our Services</a>
                        </li>
                        <li id="rentNav" class="nav-item">
                            <a class="nav-link" asp-action="Rent" asp-controller="Home">Rent</a>
                        </li>
                        <li id="sellNav" class="nav-item">
                            <a class="nav-link" asp-action="Sell" asp-controller="Home">Sell</a>
                        </li>
                        <li id="sellNav" class="nav-item">
                            <a class="nav-link" asp-action="ContactUs" asp-controller="Home">Contact Us</a>
                        </li>
                        <li id="joinNav" class="nav-item">
                            <a class="btn btn-primary ml-lg-2" asp-action="JoinUs" asp-controller="Home">JOIN US /Login</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>



    <div class="page-section">

        <div class="container-fluid mt-4">
            <h2 class="mb-4 font-weight-medium text-secondary">@Html.DisplayFor(m => m.Title)</h2>
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">

                    <div class="slideshow-container">

                        <!--  the template of slider image  -->
                        @await Component.InvokeAsync("UserImages")
                        <!--  (End) the template of slider image  -->
                        <!--  !!!!!!!!!!!!!!! (( Delete From here )) !!!!!!!!!!!!  -->
                        <!--  !!!!!!!!!!!!!!! (( Delete To here )) !!!!!!!!!!!!  -->

                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>

                    </div>

                    <br />

                    <div id="dots-images" style="text-align:center">
                        <!--  Get No. of dots from script below !!  -->
                    </div>

                    <!--  Image Popup  -->

                    <content id="image-popup" class="popup-Blur-BG" style="display:none">

                        <div id="preview-image-Popup" class="popup-Active">
                            <img id="popupImage-IMG" class="slider-img" style="width:100%">
                            <content class="closePopup">X</content>
                        </div>

                    </content>

                    <!--  ** Image Popup  -->

                    <br />

                    <div class="blog-single-wrap" style="padding: 5px;">

                        <div class="post-meta">
                            <div class="post-price" style="font-size: 25px; font-weight: bold;">
                                @Html.DisplayFor(m => m.Price)  JOD
                            </div>

                            <div class="post-date">
                                <span class="icon">
                                    <span class="mai-time-outline"></span>
                                </span> <a href="#">@Html.DisplayFor(m => m.PostedDate)  </a>
                            </div>

                            <div class="post-comment-count ml-2">
                                <span class="icon">
                                    <span class="mai-chatbubbles-outline"></span>
                                </span> <a href="#comments" data-role="smoothscroll">3 Comments</a>
                            </div>
                        </div>

                        <div class="post-content" style="padding-top: 25px;">

                            <p>
                                @Html.DisplayFor(m => m.Category)
                            </p>

                        </div>

                    </div>

                </div>

                <!--  Side Nav (contact / recent posts)  -->
                <div class="col-lg-4 mb-5 mb-lg-0">


                    <!-- Widget Contact Info -->
                    <div class="widget-box">
                        <h4 class="widget-title">Contact Info.</h4>
                        <div class="divider"></div>

                        <div>

                            <div class="display-4 text-primary"
                                 style="display: inline-block;display: inline-block;text-align: center;margin-right: 20px;font-size: 35px; width: 60px;">
                                <span class="mai-call"></span>
                                <p class="mb-3 font-weight-medium text-lg">Phone</p>
                            </div>
                            <div style="display: inline-block;">
                                <p class="mb-0">
                                    <a href="tel:+962787878787" class="text-secondary">@Html.DisplayFor(m => m.Mobile)</a>
                                </p>
                                <p class="mb-0">
                                    <a href="tel:+962787878787" class="text-secondary">@Html.DisplayFor(m => m.AlterMobile)</a>
                                </p>
                            </div>

                        </div>

                        <div>

                            <div class="display-4 text-primary"
                                 style="display: inline-block;display: inline-block;text-align: center;margin-right: 20px;font-size: 35px; width: 60px;">
                                <span class="mai-mail"></span>
                                <p class="mb-3 font-weight-medium text-lg">Email</p>
                            </div>
                            <div style="display: inline-block;">
                                <p class="mb-0">
                                    <a href="mailto:owner@mail.com"
                                       class="text-secondary">@Html.DisplayFor(m => m.Email)</a>
                                </p>
                                <p class="mb-0">
                                    <a href="mailto:owner@mail.com"
                                       class="text-secondary">doaa.shlool1@gmail.com</a>
                                </p>
                            </div>

                        </div>

                        <div>

                            <div class="display-4 text-primary"
                                 style="display: inline-block;display: inline-block;text-align: center;margin-right: 20px;font-size: 35px; width: 60px;">
                                <span class="mai-pin"></span>
                                <p class="mb-3 font-weight-medium text-lg">Address</p>
                            </div>
                            <div style="display: inline-block;">
                                <p class="mb-0">
                                    @Html.DisplayFor(m => m.Address)
                                </p>
                            </div>

                        </div>
                    </div>


                    <!-- Widget recent post -->
                    <div class="widget-box">
                        <h4 class="widget-title">Recent Advertisements</h4>
                        <div class="divider"></div>

                        <!--  template of posts side nav  -->
                        <div class="blog-item">
                            <a class="post-thumb" href="#">
                                <img src="~/img/villa-img-0.jpg" alt="">
                            </a>
                            <div class="content">
                                <h6 class="post-title"><a href="#">Modern Villa With Nice View</a></h6>
                                <div class="meta">
                                    <a href="#"><span class="mai-calendar"></span> 27 Jan 2020</a>
                                    <a href="#"><span class="mai-person"></span> Admin</a>
                                    <a href="#"><span class="mai-chatbubbles"></span> 3</a>
                                </div>
                            </div>
                        </div>
                        <!--  (End) template of posts side nav  -->
                        <!--  !!!!!!!!!!!!!!! (( Delete From here )) !!!!!!!!!!!!  -->

                        <div class="blog-item">
                            <a class="post-thumb" href="#">
                                <img src="~/img/villa-img-0.jpg" alt="">
                            </a>
                            <div class="content">
                                <h6 class="post-title"><a href="#">Modern Villa With Nice View</a></h6>
                                <div class="meta">
                                    <a href="#"><span class="mai-calendar"></span> 27 Jan 2020</a>
                                    <a href="#"><span class="mai-person"></span> Admin</a>
                                    <a href="#"><span class="mai-chatbubbles"></span> 3</a>
                                </div>
                            </div>
                        </div>

                        <div class="blog-item">
                            <a class="post-thumb" href="#">
                                <img src="~/img/villa-img-0.jpg" alt="">
                            </a>
                            <div class="content">
                                <h6 class="post-title"><a href="#">Modern Villa With Nice View</a></h6>
                                <div class="meta">
                                    <a href="#"><span class="mai-calendar"></span> 27 Jan 2020</a>
                                    <a href="#"><span class="mai-person"></span> Admin</a>
                                    <a href="#"><span class="mai-chatbubbles"></span> 3</a>
                                </div>
                            </div>
                        </div>

                        <!--  !!!!!!!!!!!!!!! (( Delete To here )) !!!!!!!!!!!!  -->

                    </div>
                </div>


            </div>

            <!--  Comments  -->
            <!--<div id="comments" class="row">

                <div class="blog-single-wrap">

                    <h3>What People Says</h3>-->
            <!--  the template of comment  -->
            <!--<div class="post-content" id="posted-comments">
                <div class="quote" style="margin-bottom: 15px;">-->
            <!-- description  -->
            <!--<p>
                There are three different trails that will lead you to the location, so you can choose
                your own adventure.
            </p>-->
            <!--  author name  -->
            <!--<span class="author"><span class="mai-person"></span> ― Ahmed Waleed</span>
                </div>
            </div>-->
            <!--  (End) the template of comment  -->
            <!--  !!!!!!!!!!!!!!! (( Delete From here )) !!!!!!!!!!!!  -->
            <!--<div class="post-content" id="posted-comments">
                <div class="quote" style="margin-bottom: 15px;">-->
            <!-- description  -->
            <!--<p>
                It was a great trip and I hope to go back soon with my university friends.
            </p>-->
            <!--  author name  -->
            <!--<span class="author"><span class="mai-person"></span> ― Salem Al-Sarraj</span>
                </div>
            </div>

            <div class="post-content" id="posted-comments">
                <div class="quote" style="margin-bottom: 15px;">-->
            <!-- description  -->
            <!--<p>
                Nice View, please send to me more images for this place and more from internal,
                my whatsapp No. +692 78 7878 787.
            </p>-->
            <!--  author name  -->
            <!--<span class="author"><span class="mai-person"></span> ― Yasmeen Jamal</span>
                </div>
            </div>-->
            <!--  !!!!!!!!!!!!!!! (( Delete To here )) !!!!!!!!!!!!  -->
            <!--<div id="add-comment">
                        <form action="#" class="contact-form py-5 px-lg-5" style="padding: 0px !important;">

                            <h3>Leave Comment</h3>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <textarea name="message" id="message" cols="30" rows="5" class="form-control"
                                              placeholder="Write your notes or questions here..."></textarea>
                                </div>
                            </div>

                            <div class="row form-group mt-4">
                                <div class="col-md-12">
                                    <input type="submit" value="Add Comment" class="btn btn-secondary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>



            </div>-->
        </div>
    </div>

    <footer class="page-footer bg-image" style="background-image: url(~/img/world_pattern.svg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 py-3">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/img/Mazaare3_Logo.png" width="170px" alt="Mazaare3_Logo"></a>
                    <p>Mazaare3 is your portal to find specialist offers of villas & farms for rent or sale.</p>

                </div>
                <div class="col-lg-3 py-3">
                    <h5>Quick Links</h5>
                    <ul class="footer-menu">
                        <li><a asp-controller="Home" asp-action="Index">Home </a></li>
                        <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                        <li><a asp-controller="Home" asp-action="Services">Our Services</a></li>
                        <li><a asp-action="Rent" asp-controller="Home">Rent</a></li>
                        <li><a asp-action="Sell" asp-controller="Home">Sell</a></li>
                        <li><a asp-action="ContactUs" asp-controller="Home">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>Contact Us</h5>
                    <p>007 Wakalat St. Amman JORDAN</p>
                    <a href="tel:+962787878787" class="footer-link">+962 7878 787 87</a>
                    <a href="mailto:support@mazaare3.com" class="footer-link">support@mazaare3.com</a>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>Follow Us</h5>
                    <p>Stay up to date with latest news.</p>
                    <div class="social-media-button">
                        <a href="#"><span class="mai-logo-facebook-f"></span></a>
                        <a href="#"><span class="mai-logo-twitter"></span></a>
                        <a href="#"><span class="mai-logo-google-plus-g"></span></a>
                        <a href="#"><span class="mai-logo-instagram"></span></a>
                        <a href="#"><span class="mai-logo-youtube"></span></a>
                    </div>
                </div>
            </div>

            <p class="text-center" id="copyright">Copyright &copy; 2022 Mazaare3, Powred by <a href="#" target="_blank">DAS software solutions</a></p>
        </div>
    </footer>
    <script src="~/js/jquery-3.5.1.min.js"></script>

    <script src="~/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/google-maps.js"></script>

    <script src="~/vendor/wow/wow.min.js"></script>

    <script src="~/js/theme.js"></script>


    <script>

        $("#topHead").addClass("bg-green");

        // find number of images in slider to add dots
        var count_images = $('.slider-img').length;

        for (var i = 1; i <= count_images; i++)
            $("#dots-images").append("<span class=\"dot\" onclick=\"currentSlide(" + i + ")\"></span>")

        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

        $(".slider-img").click(function () {

            var img_src = $(this).attr("src");

            $("#popupImage-IMG").attr("src", img_src);

            $("#image-popup").fadeIn("slow");

        });

        function closePopup() {
            $(".popup-Blur-BG").fadeOut("slow");
            emptyPopup();
        }

        $(document).on('click', '.popup-Blur-BG', function () {
            if (event.target.nodeName.toLowerCase() == 'content') {
               
                closePopup();
                $("#popupImage-IMG").removeAttr("src");
            }
        });

    </script>
</body>

</html>