
@model PaginatedList<Ad>


@using System.Web;
@using PagedList.Mvc;
@using System.Web.Mvc.Html;
@using PagedList;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Mazaare3</title>

    <link rel="stylesheet" href="../css/maicons.css">

    <link rel="stylesheet" href="../css/bootstrap.css">

    <link rel="stylesheet" href="../vendor/animate/animate.css">

    <link rel="stylesheet" href="../css/theme.css">



</head>
<body>

    <!-- Back to top button -->
    <div class="back-to-top"></div>

    <header>
        <nav id="topHead" class="navbar navbar-expand-lg navbar-light sticky" data-offset="500">
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="../img/Mazaare3_Logo.png" width="170px" alt="Mazaare3_Logo"></a>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li id="homeNav" class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li id="aboutNav" class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        <li id="servicesNav" class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Services">Our Services</a>
                        </li>
                        <li id="rentNav" class="nav-item">
                            <a class="nav-link" asp-action="Rent" asp-controller="Home">Rent</a>
                        </li>
                        <li id="sellNav" class="nav-item">
                            <a class="nav-link" asp-action="Sell" asp-controller="Home">Sell</a>
                        </li>
                        <li id="sellNav" class="nav-item">
                            <a class="nav-link" asp-action="ContactUs" asp-controller="Home">Contact Us</a>
                        </li>
                        <li id="joinNav" class="nav-item">
                            <a class="btn btn-primary ml-lg-2" asp-action="JoinUs" asp-controller="Home">JOIN US /Login</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="page-section pt-5">
        <div class="container">


            <div class="row">

                <div class="col-lg-3">
                    <div class="widget">
                        <!-- Widget search -->
                        <div class="widget-box">
                            <div class="col-sm-10" style="max-width: 100%;">
                                <form method="get" class="form-search-blog">

                                    @*<div class="input-group">
                                            <div class="input-group-prepend" style="width: 35%;">
                                                <select id="categories" class="custom-select bg-light">
                                                    <option value="all">All</option>
                                                    <option value="villa">Villa</option>
                                                    <option value="farm">Farm</option>
                                                </select>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Enter keyword..">
                                        </div>*@

                                    <p class="search-label">Location</p>
                                    <div class="input-group-prepend">
                                        @*<select id="location" >
                                            </select>*@
                                        @*   <select class="custom-select bg-light" asp-items="ViewBag.allAddresses"></select>*@
                                        @Html.DropDownList("AddressName", ViewBag.allAddresses as SelectList, "Select Address", new
                                   {
                                       @class = "custom-select bg-light"
                                   })

                                    </div>


                                    <p class="search-label">Rooms</p>
                                    <div class="input-group-prepend">
                                        @*  <select class="custom-select bg-light" asp-items="ViewBag.allRooms"></select>*@
                                        @Html.DropDownList("RoomName", ViewBag.allRooms as SelectList, "Select Number of Rooms", new
                                {
                                    @class = "custom-select bg-light"
                                })
                                    </div>

                                    <div id="more-filters">
                                        <p class="search-label">Max Price: <span id="maxVal"></span></p>
                                        <div class="slidecontainer">
                                            <!-- Default Values For Rent, if it's sell will change by script in bottom of this page !!! -->
                                            <input type="range" min="0" step="20" max="1000" value="1000" class="slider" id="maxRange">

                                        </div>


                                        <p class="search-label">Min Price: <span id="minVal"></span></p>
                                        <div class="slidecontainer">
                                            <!-- Default Values For Rent, if it's sell will change by script in bottom of this page !!! -->
                                            <input type="range" min="0" step="20" max="1000" value="0" class="slider" id="minRange">
                                        </div>


                                        <p class="search-label">Floors</p>
                                        <div class="input-group-prepend">
                                            @*    <select class="custom-select bg-light" asp-items="ViewBag.allFloors"></select>*@
                                            @Html.DropDownList("FloorName", ViewBag.allFloors as SelectList, "Select Floors", new
                               {
                                   @class = "custom-select bg-light"
                               })
                                        </div>
                                    </div>

                                    <div style="margin-top: 20px; display: flow-root;">

                                        <a class="btn btn-secondary" id="show-more">More Filter <span class="mai-filter"></span></a>
                                        <input type="submit" class="btn btn-secondary" value=" Apply Filters " id="apply-filters" />

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">

                    <h2 class="title-section" id="searchType"></h2>
                    <div class="divider"></div>

                    <div class="row my-5" id="search-results-row">
                        @foreach (var item in Model)
                        {
                           
                                <!-- Template For Item -->
                                <a asp-action="AdDetails" asp-controller="Home" asp-route-id="@item.AdId">
                                    <div class="col-lg-3 py-3">
                                        <div class="card-blog">
                                            <div class="header">
                                                <div class="post-thumb">
                                                    <img src="@item.CoverImage" alt="">
                                                </div>
                                            </div>
                                            <div class="body">
                                                <h5 class="post-title"><a asp-action="AdDetails" asp-controller="Home" asp-route-id="@item.AdId">@item.Title</a></h5>
                                                <div class="post-date">Posted on  @item.PostedDate </div>
                                                <div class="post-location"><span class="mai-map"></span>@item.Address</div>
                                                <div class="post-price"><span class="mai-pricetag"></span>@item.Price JOD</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- (end) - Template For Item -->
                             

                        }
                        <!-- !!!!!! To Here DELETE !!!!!! -->


                    </div>

                </div>

            </div>


            <nav aria-label="Page Navigation">
                <ul class="pagination justify-content-center">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";

                    }
                    <li class="page-item  @prevDisabled">
                        <a class="page-link" href="javascript:void(0)" onclick="getPage('@(Model.PageIndex -1)')">Previous</a>
                    </li>
                    @*<li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>*@
                    <li class="page-item @nextDisabled">
                        <a class="page-link " href="javascript:void(0)" onclick="getPage('@(Model.PageIndex +1)')">Next</a>
                    </li>
                </ul>
            </nav>

            @*<a href="javascript:void(0)" onclick="getPage('@(Model.PageIndex -1)')" style="color:goldenrod" class="btn btn-default @prevDisabled ">Pervious </a>
                <a href="javascript:void(0)" onclick="getPage('@(Model.PageIndex +1)')" style="color:goldenrod" class="btn btn-default @nextDisabled ">Next </a>*@


        </div>
    </div>

    <footer class="page-footer bg-image" style="background-image: url(../img/world_pattern.svg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 py-3">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="../img/Mazaare3_Logo.png" width="170px" alt="Mazaare3_Logo"></a>
                    <p>Mazaare3 is your portal to find specialist offers of villas & farms for rent or sale.</p>

                </div>
                <div class="col-lg-3 py-3">
                    <h5>Quick Links</h5>
                    <ul class="footer-menu">
                        <li><a asp-controller="Home" asp-action="Index">Home </a></li>
                        <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                        <li><a asp-controller="Home" asp-action="Services">Our Services</a></li>
                        <li><a asp-action="Rent" asp-controller="Home">Rent</a></li>
                        <li><a asp-action="Sell" asp-controller="Home">Sell</a></li>
                        <li><a asp-action="ContactUs" asp-controller="Home">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>Contact Us</h5>
                    <p>007 Wakalat St. Amman JORDAN</p>
                    <a href="tel:+962787878787" class="footer-link">+962 7878 787 87</a>
                    <a href="mailto:support@mazaare3.com" class="footer-link">support@mazaare3.com</a>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>Follow Us</h5>
                    <p>Stay up to date with latest news.</p>
                    <div class="social-media-button">
                        <a href="#"><span class="mai-logo-facebook-f"></span></a>
                        <a href="#"><span class="mai-logo-twitter"></span></a>
                        <a href="#"><span class="mai-logo-google-plus-g"></span></a>
                        <a href="#"><span class="mai-logo-instagram"></span></a>
                        <a href="#"><span class="mai-logo-youtube"></span></a>
                    </div>
                </div>
            </div>

            <p class="text-center" id="copyright">Copyright &copy; 2022 Mazaare3, Powred by <a href="#" target="_blank">DAS software solutions</a></p>
        </div>
    </footer>

    <script src="../js/jquery-3.5.1.min.js"></script>

    <script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../js/google-maps.js"></script>

    <script src="../vendor/wow/wow.min.js"></script>

    <script src="../js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        var MaxSlider = 0;
        var MinSlider = 0;

        $(document).on('input', '#maxRange', function () {
            MaxSlider = $(this).val();
        });

        $(document).on('input', '#minRange', function () {
            MinSlider = $(this).val();
        });

        $("#topHead").addClass("bg-green");
        $("#more-filters").hide();
        $("#show-more").click(function () {
            $("#more-filters").slideToggle(700);
            if ($(this).text() == "More Filter ") {
                $(this).empty();
                $(this).append("Less Filter <span class=\"mai-filter\"></span>");



            }
            else {
                $(this).empty();
                $(this).append("More Filter <span class=\"mai-filter\"></span>");
            }

        });

        // func - get val of Max/Min slider
        //$("#apply-filters").click(function () {
        //    alert("Max: " + MaxSlider + ", Min: " + MinSlider);
        //});

        // func - get type of search from url (rent / sell)
        function GetUrlParameter(parameter) {
            var pageUrl = window.location.search.substring(1);
            var urlVar = pageUrl.split('&');
            for (var i = 0; i < urlVar.length; i++) {
                var parameterName = urlVar[i].split('=');
                if (parameterName[0] == parameter) {
                    return decodeURIComponent(parameterName[1]);
                }
            }
        }
        // call function to get ID from url ('rent' = 0 / 'sell' = 1)
        var searchTypeID = GetUrlParameter('id');
        var searchTypeName = GetUrlParameter('name');

        $("#searchType").empty();
        $("#searchType").append(searchTypeName);

        if (searchTypeID != 1) {
            $("#rentNav").addClass("active");

            $("#maxRange").removeAttr('min');
            $("#maxRange").removeAttr('step');
            $("#maxRange").removeAttr('max');
            $("#maxRange").removeAttr('value');

            $("#minRange").removeAttr('min');
            $("#minRange").removeAttr('step');
            $("#minRange").removeAttr('max');
            $("#minRange").removeAttr('value');

            $("#maxRange").attr('min', 0);
            $("#maxRange").attr('step', 5000);
            $("#maxRange").attr('max', 1000000);
            $("#maxRange").attr('value', 1000000);

            $("#minRange").attr('min', 0);
            $("#minRange").attr('step', 5000);
            $("#minRange").attr('max', 1000000);
            $("#minRange").attr('value', 0);

            MaxSlider = 1000000;
            MinSlider = 0;
        } else {
            $("#rentNav").addClass("active");

            MaxSlider = 1000;
            MinSlider = 0;
            // value of range still as it in elements
        }



    </script>

    <!-- Range Slider -->
    <script>
        var maxSlider = document.getElementById("maxRange");
        var maxOutput = document.getElementById("maxVal");

        var minSlider = document.getElementById("minRange");
        var minOutput = document.getElementById("minVal");

        maxOutput.innerHTML = maxSlider.value;
        minOutput.innerHTML = minSlider.value;

        maxSlider.oninput = function () {
            maxOutput.innerHTML = this.value;
        }

        minSlider.oninput = function () {
            minOutput.innerHTML = this.value;
        }
    </script>

    <script type="text/javascript">
        function getPage(value) {
            /* alert(value);*/
            var key = "pageNumber";
            var uri = window.location.href;
            /*  alert(uri);*/
            // remove the hash part before operating on the uri
            var i = uri.indexOf('#');
            var hash = i === -1 ? '' : uri.substr(i);
            uri = i === -1 ? uri : uri.substr(0, i);

            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                uri = uri.replace(re, '$1' + key + "=" + value + '$2');
            } else {
                uri = uri + separator + key + "=" + value;
            }
            window.location.href = uri + hash;  // finally append the hash as well
            // window.location.href
        }


    </script>
</body>
</html>